.elementor-145 .elementor-element.elementor-element-8f686dc>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-145 .elementor-element.elementor-element-8f686dc {
    z-index: 99
}

.elementor-145 .elementor-element.elementor-element-904f5b7.elementor-column>.elementor-widget-wrap {
    justify-content: center
}

.elementor-145 .elementor-element.elementor-element-904f5b7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-145 .elementor-element.elementor-element-904f5b7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-145 .elementor-element.elementor-element-904f5b7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-145 .elementor-element.elementor-element-904f5b7>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-145 .elementor-element.elementor-element-904f5b7>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-145 .elementor-element.elementor-element-a7b6029 .hfe-site-logo-container,
.elementor-145 .elementor-element.elementor-element-a7b6029 .hfe-caption-width figcaption {
    text-align: center
}

.elementor-145 .elementor-element.elementor-element-a7b6029 .hfe-site-logo .hfe-site-logo-container img {
    width: 135px
}

.elementor-145 .elementor-element.elementor-element-a7b6029 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none
}

.elementor-145 .elementor-element.elementor-element-a7b6029 .widget-image-caption {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-145 .elementor-element.elementor-element-a7b6029>.elementor-widget-container {
    margin: 0 0 0 -7px
}

.elementor-145 .elementor-element.elementor-element-a7b6029 {
    width: auto;
    max-width: auto
}

.elementor-145 .elementor-element.elementor-element-2237b47>.elementor-element-populated {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: var(--e-global-color-border);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-145 .elementor-element.elementor-element-2237b47>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-145 .elementor-element.elementor-element-0c2a7a7 .vertical-navigation .vertical-navigation-header .vertical-navigation-title .title-icon>span {
    background-color: var(--e-global-color-highlight)
}

.elementor-145 .elementor-element.elementor-element-0c2a7a7 .vertical-navigation .vertical-navigation-header .liquory-icon {
    color: var(--e-global-color-highlight)
}

.elementor-145 .elementor-element.elementor-element-0c2a7a7 .vertical-navigation {
    background-color: #02010100;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: var(--e-global-color-border)
}

.elementor-145 .elementor-element.elementor-element-0c2a7a7 .vertical-navigation:hover .vertical-navigation-header .vertical-navigation-title .title-icon>span {
    background-color: var(--e-global-color-secondary)
}

.elementor-145 .elementor-element.elementor-element-0c2a7a7 .vertical-navigation:hover .vertical-navigation-header .liquory-icon {
    color: var(--e-global-color-secondary)
}

.elementor-145 .elementor-element.elementor-element-0c2a7a7 .vertical-navigation .vertical-navigation-header {
    padding: 32px 31px
}

.elementor-145 .elementor-element.elementor-element-0c2a7a7 .vertical-navigation .vertical-menu .menu {
    margin: -1px 0 0
}

.elementor-145 .elementor-element.elementor-element-0c2a7a7 .vertical-navigation ul.menu>li>a .menu-icon {
    width: 20px
}

.elementor-145 .elementor-element.elementor-element-0c2a7a7>.elementor-widget-container {
    margin: 0 37px 0 0
}

.elementor-145 .elementor-element.elementor-element-0c2a7a7 {
    width: auto;
    max-width: auto
}

.elementor-145 .elementor-element.elementor-element-cd1afa8 .main-navigation {
    text-align: left
}

.elementor-145 .elementor-element.elementor-element-cd1afa8 .main-navigation ul.menu>li.menu-item>a {
    margin: 0 1.23em
}

.elementor-145 .elementor-element.elementor-element-cd1afa8 .main-navigation ul.menu li.menu-item .sub-menu .menu-item:hover>a {
    color: var(--e-global-color-secondary)
}

.elementor-145 .elementor-element.elementor-element-cd1afa8 .main-navigation ul.menu>li.menu-item>.sub-menu .menu-item.current-menu-item>a:not(:hover) {
    color: var(--e-global-color-secondary)
}

.elementor-145 .elementor-element.elementor-element-cd1afa8 {
    width: auto;
    max-width: auto
}

.elementor-145 .elementor-element.elementor-element-571ff8c .menu-mobile-nav-button .liquory-icon>span {
    background-color: #fff
}

.elementor-145 .elementor-element.elementor-element-571ff8c .menu-mobile-nav-button:not(:hover) .screen-reader-text {
    color: #fff
}

.elementor-145 .elementor-element.elementor-element-571ff8c {
    width: auto;
    max-width: auto
}

.elementor-145 .elementor-element.elementor-element-17c4442.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end
}

.elementor-145 .elementor-element.elementor-element-17c4442>.elementor-element-populated {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: var(--e-global-color-border);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 30px 0 15px
}

.elementor-145 .elementor-element.elementor-element-17c4442>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-145 .elementor-element.elementor-element-92a8334 .elementor-header-group-wrapper .header-group-action>div a:not(:hover) i:before {
    color: var(--e-global-color-highlight)
}

.elementor-145 .elementor-element.elementor-element-92a8334 .elementor-header-group-wrapper .header-group-action>div a:not(:hover):before {
    color: var(--e-global-color-highlight)
}

.elementor-145 .elementor-element.elementor-element-92a8334 .elementor-header-group-wrapper .header-group-action>div .button-content:not(:hover)>span {
    background-color: var(--e-global-color-highlight)
}

.elementor-145 .elementor-element.elementor-element-92a8334 .elementor-header-group-wrapper .header-group-action .count {
    color: var(--e-global-color-highlight)
}

.elementor-145 .elementor-element.elementor-element-92a8334 .elementor-header-group-wrapper .header-group-action>div a:hover i:before {
    color: var(--e-global-color-primary)
}

.elementor-145 .elementor-element.elementor-element-92a8334 .elementor-header-group-wrapper .header-group-action>div a:hover:before {
    color: var(--e-global-color-primary)
}

.elementor-145 .elementor-element.elementor-element-92a8334 .elementor-header-group-wrapper .header-group-action>div a i:before {
    font-size: 15px
}

.elementor-145 .elementor-element.elementor-element-92a8334 .elementor-header-group-wrapper .header-group-action>div a:before {
    font-size: 15px
}

.elementor-145 .elementor-element.elementor-element-92a8334>.elementor-widget-container {
    margin: 0 36px 0 0;
    padding: 23px 32px 35px;
    border-style: solid;
    border-width: 0 1px;
    border-color: var(--e-global-color-border)
}

.elementor-145 .elementor-element.elementor-element-92a8334 {
    width: auto;
    max-width: auto;
    align-self: center
}

.elementor-145 .elementor-element.elementor-element-0e76f48 .site-header-account a .account-content {
    font-weight: 700;
    text-transform: capitalize
}

.elementor-145 .elementor-element.elementor-element-0e76f48 .site-header-account .account-content {
    color: var(--e-global-color-secondary)
}

.elementor-145 .elementor-element.elementor-element-0e76f48 {
    width: auto;
    max-width: auto
}

.elementor-145 .elementor-element.elementor-element-c0ed3d7>.elementor-widget-container {
    margin: 0 0 5px 25px
}

.elementor-145 .elementor-element.elementor-element-c0ed3d7 {
    width: auto;
    max-width: auto
}

@media(max-width:1366px) {
    .elementor-145 .elementor-element.elementor-element-a7b6029>.elementor-widget-container {
        margin: 0
    }
    .elementor-145 .elementor-element.elementor-element-0c2a7a7 .vertical-navigation .vertical-navigation-header {
        padding: 32px 25px
    }
    .elementor-145 .elementor-element.elementor-element-0c2a7a7>.elementor-widget-container {
        margin: 0 25px 0 0
    }
    .elementor-145 .elementor-element.elementor-element-cd1afa8 .main-navigation ul.menu>li.menu-item>a {
        margin: 0 .8em
    }
    .elementor-145 .elementor-element.elementor-element-17c4442>.elementor-element-populated {
        padding: 0 30px 0 0
    }
    .elementor-145 .elementor-element.elementor-element-92a8334>.elementor-widget-container {
        margin: 0 15px 0 0;
        padding: 23px 27px 35px
    }
}

@media(max-width:1200px) {
    .elementor-145 .elementor-element.elementor-element-2237b47>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-145 .elementor-element.elementor-element-0c2a7a7 .vertical-navigation .vertical-navigation-header {
        padding: 32px 15px
    }
    .elementor-145 .elementor-element.elementor-element-0c2a7a7>.elementor-widget-container {
        margin: 0 10px 0 0
    }
    .elementor-145 .elementor-element.elementor-element-cd1afa8 .main-navigation ul.menu>li.menu-item>a {
        margin: 0 .7em
    }
    .elementor-145 .elementor-element.elementor-element-cd1afa8>.elementor-widget-container {
        margin: 0 0 0 10px
    }
    .elementor-145 .elementor-element.elementor-element-17c4442>.elementor-element-populated {
        padding: 0 10px 0 0
    }
    .elementor-145 .elementor-element.elementor-element-92a8334>.elementor-widget-container {
        margin: 0 5px 0 0;
        padding: 23px 10px 35px
    }
    .elementor-145 .elementor-element.elementor-element-c0ed3d7>.elementor-widget-container {
        margin: 0 0 5px 10px
    }
}

@media(min-width:768px) {
    .elementor-145 .elementor-element.elementor-element-904f5b7 {
        width: 10.15%
    }
    .elementor-145 .elementor-element.elementor-element-2237b47 {
        width: 60.974%
    }
    .elementor-145 .elementor-element.elementor-element-17c4442 {
        width: 28.208%
    }
}

@media(max-width:1366px) and (min-width:768px) {
    .elementor-145 .elementor-element.elementor-element-904f5b7 {
        width: 15%
    }
    .elementor-145 .elementor-element.elementor-element-17c4442 {
        width: 25%
    }
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-145 .elementor-element.elementor-element-904f5b7 {
        width: 15%
    }
    .elementor-145 .elementor-element.elementor-element-2237b47 {
        width: 67%
    }
    .elementor-145 .elementor-element.elementor-element-17c4442 {
        width: 21%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-145 .elementor-element.elementor-element-904f5b7 {
        width: 25%
    }
    .elementor-145 .elementor-element.elementor-element-2237b47 {
        width: 75%
    }
}

@media(max-width:1024px) {
    .elementor-145 .elementor-element.elementor-element-a7b6029>.elementor-widget-container {
        padding: 20px 0
    }
    .elementor-145 .elementor-element.elementor-element-2237b47.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end
    }
    .elementor-145 .elementor-element.elementor-element-2237b47>.elementor-element-populated {
        border-width: 0;
        margin: 0 30px 0 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0px;
        padding: 0
    }
    .elementor-145 .elementor-element.elementor-element-571ff8c {
        width: auto;
        max-width: auto
    }
}

@media(max-width:767px) {
    .elementor-145 .elementor-element.elementor-element-904f5b7 {
        width: 50%
    }
    .elementor-145 .elementor-element.elementor-element-904f5b7.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start
    }
    .elementor-145 .elementor-element.elementor-element-904f5b7>.elementor-element-populated {
        padding: 0 0 0 15px
    }
    .elementor-145 .elementor-element.elementor-element-2237b47 {
        width: 50%
    }
    .elementor-145 .elementor-element.elementor-element-2237b47>.elementor-element-populated {
        margin: 0 15px 0 0;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 0px
    }
}