.elementor-436 .elementor-element.elementor-element-39166f7 {
    border-style: solid;
    border-width: 1px 0 0;
    border-color: var(--e-global-color-border);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, .1);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 40px 30px
}

.elementor-436 .elementor-element.elementor-element-39166f7>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-436 .elementor-element.elementor-element-f98258e {
    margin-top: 0;
    margin-bottom: 40px
}

.elementor-436 .elementor-element.elementor-element-2b135b2>.elementor-element-populated {
    margin: 0 40px 0 0;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 0px
}

.elementor-436 .elementor-element.elementor-element-996a55a:hover img {
    filter: brightness(90%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg)
}

.elementor-436 .elementor-element.elementor-element-996a55a>.elementor-widget-container {
    margin: 0 0 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-border)
}

.elementor-436 .elementor-element.elementor-element-12e0e32 .elementor-button {
    font-size: 14px;
    font-weight: 800;
    padding: 2px 0
}

.elementor-436 .elementor-element.elementor-element-4527e12>.elementor-element-populated {
    margin: 0 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px
}

.elementor-436 .elementor-element.elementor-element-363a270:hover img {
    filter: brightness(90%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg)
}

.elementor-436 .elementor-element.elementor-element-363a270>.elementor-widget-container {
    margin: 0 0 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-border)
}

.elementor-436 .elementor-element.elementor-element-2a52b58 .elementor-button {
    font-size: 14px;
    font-weight: 800;
    padding: 2px 0
}

.elementor-436 .elementor-element.elementor-element-4feeaa4>.elementor-element-populated {
    margin: 0 0 0 40px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 40px
}

.elementor-436 .elementor-element.elementor-element-35a6687:hover img {
    filter: brightness(90%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg)
}

.elementor-436 .elementor-element.elementor-element-35a6687>.elementor-widget-container {
    margin: 0 0 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-border)
}

.elementor-436 .elementor-element.elementor-element-7eee44c .elementor-button {
    font-size: 14px;
    font-weight: 800;
    padding: 2px 0
}

.elementor-436 .elementor-element.elementor-element-fc45dbf>.elementor-element-populated {
    margin: 0 40px 0 0;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 0px
}

.elementor-436 .elementor-element.elementor-element-0eaf3db:hover img {
    filter: brightness(90%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg)
}

.elementor-436 .elementor-element.elementor-element-0eaf3db>.elementor-widget-container {
    margin: 0 0 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-border)
}

.elementor-436 .elementor-element.elementor-element-e6c041d .elementor-button {
    font-size: 14px;
    font-weight: 800;
    padding: 2px 0
}

.elementor-436 .elementor-element.elementor-element-70c43c2>.elementor-element-populated {
    margin: 0 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px
}

.elementor-436 .elementor-element.elementor-element-1d91120:hover img {
    filter: brightness(90%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg)
}

.elementor-436 .elementor-element.elementor-element-1d91120>.elementor-widget-container {
    margin: 0 0 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-border)
}

.elementor-436 .elementor-element.elementor-element-fc9d9a3 .elementor-button {
    font-size: 14px;
    font-weight: 800;
    padding: 2px 0
}

.elementor-436 .elementor-element.elementor-element-28b9a01>.elementor-element-populated {
    margin: 0 0 0 40px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 40px
}

.elementor-436 .elementor-element.elementor-element-45ef2aa:hover img {
    filter: brightness(90%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg)
}

.elementor-436 .elementor-element.elementor-element-45ef2aa>.elementor-widget-container {
    margin: 0 0 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-border)
}

.elementor-436 .elementor-element.elementor-element-d3a5108 .elementor-button {
    font-size: 14px;
    font-weight: 800;
    padding: 2px 0
}