.elementor-459 .elementor-element.elementor-element-10385e81 {
    border-style: solid;
    border-width: 1px 0 0;
    border-color: var(--e-global-color-border);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, .1);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 40px 0
}

.elementor-459 .elementor-element.elementor-element-10385e81>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-459 .elementor-element.elementor-element-5d958483>.elementor-element-populated {
    margin: 0 -7px 0 7px;
    --e-column-margin-right: -7px;
    --e-column-margin-left: 7px
}

.elementor-459 .elementor-element.elementor-element-61518901 {
    margin-top: 0;
    margin-bottom: 33px
}

.elementor-459 .elementor-element.elementor-element-9a8be98 {
    text-align: left
}

.elementor-459 .elementor-element.elementor-element-9a8be98 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0px
}

.elementor-459 .elementor-element.elementor-element-9a8be98>.elementor-widget-container {
    margin: 0 0 12px
}

.elementor-459 .elementor-element.elementor-element-d398edc .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-d398edc .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-d398edc .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-d398edc .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-d398edc .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-d398edc .menu-item a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-d398edc .menu-item a.hfe-sub-menu-item {
    padding-top: 3px;
    padding-bottom: 3px
}

body:not(.rtl) .elementor-459 .elementor-element.elementor-element-d398edc .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 8px
}

body.rtl .elementor-459 .elementor-element.elementor-element-d398edc .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 8px
}

.elementor-459 .elementor-element.elementor-element-d398edc nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 8px
}

.elementor-459 .elementor-element.elementor-element-d398edc a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-d398edc a.hfe-sub-menu-item {
    text-transform: capitalize;
    letter-spacing: 0px
}

.elementor-459 .elementor-element.elementor-element-d398edc ul.hfe-nav-menu .menu-item a.hfe-menu-item {
    color: var(--e-global-color-lighter)
}

.elementor-459 .elementor-element.elementor-element-d398edc ul.hfe-nav-menu .menu-item a.hfe-menu-item:hover {
    color: var(--e-global-color-secondary)
}

.elementor-459 .elementor-element.elementor-element-d398edc .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item:hover a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-459 .elementor-element.elementor-element-d398edc .main-navigation .mega-menu ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item {
    color: var(--e-global-color-secondary)
}

.elementor-459 .elementor-element.elementor-element-d398edc .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-459 .elementor-element.elementor-element-d398edc .sub-menu,
.elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-dropdown,
.elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-dropdown-expandible,
.elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-459 .elementor-element.elementor-element-d398edc .sub-menu a.hfe-sub-menu-item,
.elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-dropdown li a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-459 .elementor-element.elementor-element-d398edc .sub-menu li.menu-item:not(:last-child),
.elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-459 .elementor-element.elementor-element-d398edc>.elementor-widget-container {
    margin: 0 30px 0 0
}

.elementor-459 .elementor-element.elementor-element-d398edc {
    width: 250px;
    max-width: 250px
}

.elementor-459 .elementor-element.elementor-element-413a9be .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-413a9be .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-413a9be .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-413a9be .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-413a9be .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-413a9be .menu-item a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-413a9be .menu-item a.hfe-sub-menu-item {
    padding-top: 3px;
    padding-bottom: 3px
}

body:not(.rtl) .elementor-459 .elementor-element.elementor-element-413a9be .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 8px
}

body.rtl .elementor-459 .elementor-element.elementor-element-413a9be .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 8px
}

.elementor-459 .elementor-element.elementor-element-413a9be nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 8px
}

.elementor-459 .elementor-element.elementor-element-413a9be a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-413a9be a.hfe-sub-menu-item {
    text-transform: capitalize;
    letter-spacing: 0px
}

.elementor-459 .elementor-element.elementor-element-413a9be ul.hfe-nav-menu .menu-item a.hfe-menu-item {
    color: var(--e-global-color-lighter)
}

.elementor-459 .elementor-element.elementor-element-413a9be .sub-menu,
.elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-dropdown,
.elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-dropdown-expandible,
.elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-459 .elementor-element.elementor-element-413a9be .sub-menu a.hfe-sub-menu-item,
.elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-dropdown li a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-459 .elementor-element.elementor-element-413a9be .sub-menu li.menu-item:not(:last-child),
.elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-459 .elementor-element.elementor-element-413a9be>.elementor-widget-container {
    padding: 0 20px 0 0;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: var(--e-global-color-border)
}

.elementor-459 .elementor-element.elementor-element-413a9be {
    width: 280px;
    max-width: 280px
}

.elementor-459 .elementor-element.elementor-element-58fdb86 {
    text-align: left
}

.elementor-459 .elementor-element.elementor-element-58fdb86 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0px
}

.elementor-459 .elementor-element.elementor-element-58fdb86>.elementor-widget-container {
    margin: 0 0 12px
}

.elementor-459 .elementor-element.elementor-element-86c3353 .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-86c3353 .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-86c3353 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-86c3353 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-86c3353 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-86c3353 .menu-item a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-86c3353 .menu-item a.hfe-sub-menu-item {
    padding-top: 3px;
    padding-bottom: 3px
}

body:not(.rtl) .elementor-459 .elementor-element.elementor-element-86c3353 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 8px
}

body.rtl .elementor-459 .elementor-element.elementor-element-86c3353 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 8px
}

.elementor-459 .elementor-element.elementor-element-86c3353 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 8px
}

.elementor-459 .elementor-element.elementor-element-86c3353 a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-86c3353 a.hfe-sub-menu-item {
    text-transform: capitalize;
    letter-spacing: 0px
}

.elementor-459 .elementor-element.elementor-element-86c3353 ul.hfe-nav-menu .menu-item a.hfe-menu-item {
    color: var(--e-global-color-lighter)
}

.elementor-459 .elementor-element.elementor-element-86c3353 .sub-menu,
.elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-dropdown,
.elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-dropdown-expandible,
.elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-459 .elementor-element.elementor-element-86c3353 .sub-menu a.hfe-sub-menu-item,
.elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-459 .elementor-element.elementor-element-86c3353 .sub-menu li.menu-item:not(:last-child),
.elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-459 .elementor-element.elementor-element-86c3353 {
    width: 250px;
    max-width: 250px
}

.elementor-459 .elementor-element.elementor-element-86c3353>.elementor-widget-container {
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: var(--e-global-color-border)
}

.elementor-459 .elementor-element.elementor-element-40d4029 {
    text-align: left
}

.elementor-459 .elementor-element.elementor-element-40d4029 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0px
}

.elementor-459 .elementor-element.elementor-element-40d4029>.elementor-widget-container {
    margin: 0 0 12px
}

.elementor-459 .elementor-element.elementor-element-e344726 .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-e344726 .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-e344726 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-e344726 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-e344726 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-459 .elementor-element.elementor-element-e344726 .menu-item a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-e344726 .menu-item a.hfe-sub-menu-item {
    padding-top: 3px;
    padding-bottom: 3px
}

body:not(.rtl) .elementor-459 .elementor-element.elementor-element-e344726 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 8px
}

body.rtl .elementor-459 .elementor-element.elementor-element-e344726 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 8px
}

.elementor-459 .elementor-element.elementor-element-e344726 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 8px
}

.elementor-459 .elementor-element.elementor-element-e344726 a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-e344726 a.hfe-sub-menu-item {
    text-transform: capitalize;
    letter-spacing: 0px
}

.elementor-459 .elementor-element.elementor-element-e344726 ul.hfe-nav-menu .menu-item a.hfe-menu-item {
    color: var(--e-global-color-lighter)
}

.elementor-459 .elementor-element.elementor-element-e344726 .sub-menu,
.elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-dropdown,
.elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-dropdown-expandible,
.elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-459 .elementor-element.elementor-element-e344726 .sub-menu a.hfe-sub-menu-item,
.elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-459 .elementor-element.elementor-element-e344726 .sub-menu li.menu-item:not(:last-child),
.elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-459 .elementor-element.elementor-element-67d9511 {
    margin-top: 7px;
    margin-bottom: 0
}

.elementor-459 .elementor-element.elementor-element-9f670ec>.elementor-element-populated {
    margin: 0 10px 0 0;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 0px
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-cta__content {
    min-height: 250px;
    padding: 40px 20px 20px 60px;
    justify-content: flex-start
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .skeleton-item {
    min-height: 250px
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .skeleton-item:before {
    padding-top: 250px
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-cta__content_inner {
    width: 250px
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-cta__title {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: -1px;
    color: #fff
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-content-item.elementor-cta__title {
    margin-bottom: 35px
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-cta__subtitle {
    font-size: 14px;
    font-weight: 800;
    line-height: 14px;
    color: #fff
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-content-item.elementor-cta__subtitle {
    margin-bottom: 7px
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-cta__subtitle span:before {
    background-color: #fff
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-cta__button {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: 0px;
    color: var(--e-global-color-secondary);
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 28px
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-cta:hover .elementor-cta__button:hover {
    color: #fff
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-cta__button:hover {
    background-color: var(--e-global-color-primary)
}

.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-cta .elementor-cta__bg,
.elementor-459 .elementor-element.elementor-element-c58fcb3 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: .3s
}

.elementor-459 .elementor-element.elementor-element-bc7c808>.elementor-element-populated {
    margin: 0 0 0 10px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 10px
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-cta__content {
    min-height: 250px;
    padding: 30px 20px 20px 60px;
    justify-content: flex-start
}

.elementor-459 .elementor-element.elementor-element-965265f .skeleton-item {
    min-height: 250px
}

.elementor-459 .elementor-element.elementor-element-965265f .skeleton-item:before {
    padding-top: 250px
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-cta__content_inner {
    width: 250px
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-cta__title {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: -1px;
    color: #fff
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-content-item.elementor-cta__title {
    margin-bottom: 1px
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-cta__subtitle {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: -1px;
    color: #fff
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-content-item.elementor-cta__subtitle {
    margin-bottom: -1px
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-cta__description {
    line-height: 26px;
    color: #fff
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-content-item.elementor-cta__description {
    margin-bottom: 20px
}

.elementor-459 .elementor-element.elementor-element-965265f.description-effects-yes .elementor-content-item.elementor-cta__description {
    margin-bottom: 0
}

.elementor-459 .elementor-element.elementor-element-965265f.description-effects-yes:hover .elementor-content-item.elementor-cta__description {
    margin-bottom: 20px
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-cta__subtitle span:before {
    background-color: #fff
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-cta__button {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: 0px;
    color: var(--e-global-color-secondary);
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 28px
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-cta:hover .elementor-cta__button:hover {
    color: #fff
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-cta__button:hover {
    background-color: var(--e-global-color-primary)
}

.elementor-459 .elementor-element.elementor-element-965265f .elementor-cta .elementor-cta__bg,
.elementor-459 .elementor-element.elementor-element-965265f .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: .3s
}

@media(min-width:768px) {
    .elementor-459 .elementor-element.elementor-element-44630637 {
        width: 47.984%
    }
    .elementor-459 .elementor-element.elementor-element-2d00f58a {
        width: 26.24%
    }
    .elementor-459 .elementor-element.elementor-element-5a3ad21 {
        width: 25.44%
    }
}

@media(max-width:1024px) {
    body:not(.rtl) .elementor-459 .elementor-element.elementor-element-d398edc.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-459 .elementor-element.elementor-element-413a9be.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-459 .elementor-element.elementor-element-86c3353.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-459 .elementor-element.elementor-element-e344726.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
}

@media(max-width:767px) {
    body:not(.rtl) .elementor-459 .elementor-element.elementor-element-d398edc.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-459 .elementor-element.elementor-element-d398edc nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-459 .elementor-element.elementor-element-413a9be.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-459 .elementor-element.elementor-element-413a9be nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-459 .elementor-element.elementor-element-86c3353.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-459 .elementor-element.elementor-element-86c3353 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-459 .elementor-element.elementor-element-e344726.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-459 .elementor-element.elementor-element-e344726 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
}