.elementor-162 .elementor-element.elementor-element-69ac651>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-162 .elementor-element.elementor-element-69ac651:not(.elementor-motion-effects-element-type-background),
.elementor-162 .elementor-element.elementor-element-69ac651>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff
}

.elementor-162 .elementor-element.elementor-element-69ac651 {
    border-style: solid;
    border-width: 1px 0 0;
    border-color: var(--e-global-color-border);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-162 .elementor-element.elementor-element-69ac651>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-162 .elementor-element.elementor-element-3d2ab4c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-162 .elementor-element.elementor-element-3d2ab4c>.elementor-element-populated {
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: var(--e-global-color-border);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 10px 5px
}

.elementor-162 .elementor-element.elementor-element-3d2ab4c>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-162 .elementor-element.elementor-element-bc00213>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-162 .elementor-element.elementor-element-bc00213>.elementor-element-populated {
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: var(--e-global-color-border);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 10px 5px
}

.elementor-162 .elementor-element.elementor-element-bc00213>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-162 .elementor-element.elementor-element-c03feac.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-dark)
}

.elementor-162 .elementor-element.elementor-element-c03feac.elementor-view-framed .elementor-icon,
.elementor-162 .elementor-element.elementor-element-c03feac.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-dark);
    color: var(--e-global-color-dark);
    border-color: var(--e-global-color-dark)
}

.elementor-162 .elementor-element.elementor-element-c03feac {
    --icon-box-icon-margin: 0px
}

.elementor-162 .elementor-element.elementor-element-c03feac .elementor-icon {
    font-size: 20px
}

.elementor-162 .elementor-element.elementor-element-c03feac .elementor-icon-box-title {
    color: #000
}

.elementor-162 .elementor-element.elementor-element-c03feac .elementor-icon-box-title,
.elementor-162 .elementor-element.elementor-element-c03feac .elementor-icon-box-title a {
    font-family: "Rajdhani", Sans-serif;
    font-size: 16px;
    font-weight: 600
}

.elementor-162 .elementor-element.elementor-element-de32a34>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-162 .elementor-element.elementor-element-de32a34>.elementor-element-populated {
    padding: 10px 5px
}

.elementor-162 .elementor-element.elementor-element-3349a05.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-dark)
}

.elementor-162 .elementor-element.elementor-element-3349a05.elementor-view-framed .elementor-icon,
.elementor-162 .elementor-element.elementor-element-3349a05.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-dark);
    color: var(--e-global-color-dark);
    border-color: var(--e-global-color-dark)
}

.elementor-162 .elementor-element.elementor-element-3349a05 {
    --icon-box-icon-margin: 0px
}

.elementor-162 .elementor-element.elementor-element-3349a05 .elementor-icon {
    font-size: 20px
}

.elementor-162 .elementor-element.elementor-element-3349a05 .elementor-icon-box-title {
    color: var(--e-global-color-dark)
}

.elementor-162 .elementor-element.elementor-element-3349a05 .elementor-icon-box-title,
.elementor-162 .elementor-element.elementor-element-3349a05 .elementor-icon-box-title a {
    font-family: "Rajdhani", Sans-serif;
    font-size: 16px;
    font-weight: 600
}

@media(max-width:1024px) {
    .elementor-162 .elementor-element.elementor-element-c03feac .elementor-icon-box-title {
        margin-bottom: 0
    }
    .elementor-162 .elementor-element.elementor-element-3349a05 .elementor-icon-box-title {
        margin-bottom: 0
    }
}

@media(max-width:767px) {
    .elementor-162 .elementor-element.elementor-element-3d2ab4c {
        width: 33%
    }
    .elementor-162 .elementor-element.elementor-element-3d2ab4c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }
    .elementor-162 .elementor-element.elementor-element-3d2ab4c>.elementor-element-populated {
        padding: 20px 5px 10px
    }
    .elementor-162 .elementor-element.elementor-element-bc00213 {
        width: 33.3%
    }
    .elementor-162 .elementor-element.elementor-element-bc00213>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }
    .elementor-162 .elementor-element.elementor-element-bc00213>.elementor-element-populated {
        padding: 20px 5px 10px
    }
    .elementor-162 .elementor-element.elementor-element-c03feac .elementor-icon-box-title,
    .elementor-162 .elementor-element.elementor-element-c03feac .elementor-icon-box-title a {
        font-size: 0px
    }
    .elementor-162 .elementor-element.elementor-element-de32a34 {
        width: 33.3%
    }
    .elementor-162 .elementor-element.elementor-element-de32a34>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }
    .elementor-162 .elementor-element.elementor-element-de32a34>.elementor-element-populated {
        padding: 20px 5px 10px
    }
    .elementor-162 .elementor-element.elementor-element-3349a05 .elementor-icon-box-title,
    .elementor-162 .elementor-element.elementor-element-3349a05 .elementor-icon-box-title a {
        font-size: 0px
    }
}

.elementor-162 .elementor-element.elementor-element-69ac651 {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 997
}

@media(max-width:1024px) {
    #colophon {
        margin-bottom: 65px
    }
}