.elementor-2705 .elementor-element.elementor-element-c1c7efd {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, .1);
    padding: 43px 40px 34px
}

.elementor-2705 .elementor-element.elementor-element-0e16c34 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0px
}

.elementor-2705 .elementor-element.elementor-element-0e16c34>.elementor-widget-container {
    margin: 0 0 18px
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .menu-item a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-92dd39e .menu-item a.hfe-sub-menu-item {
    padding-top: 1px;
    padding-bottom: 1px
}

body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-92dd39e .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 10px
}

body.rtl .elementor-2705 .elementor-element.elementor-element-92dd39e .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 10px
}

.elementor-2705 .elementor-element.elementor-element-92dd39e nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 10px
}

.elementor-2705 .elementor-element.elementor-element-92dd39e ul.hfe-nav-menu .menu-item a.hfe-menu-item {
    color: var(--e-global-color-lighter)
}

.elementor-2705 .elementor-element.elementor-element-92dd39e ul.hfe-nav-menu .menu-item a.hfe-menu-item:hover {
    color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item:hover a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .main-navigation .mega-menu ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item {
    color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .sub-menu,
.elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-dropdown,
.elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-dropdown-expandible,
.elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .sub-menu a.hfe-sub-menu-item,
.elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-dropdown li a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-2705 .elementor-element.elementor-element-92dd39e .sub-menu li.menu-item:not(:last-child),
.elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-2705 .elementor-element.elementor-element-1219cc1 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0px
}

.elementor-2705 .elementor-element.elementor-element-1219cc1>.elementor-widget-container {
    margin: 0 0 18px
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .menu-item a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-ac846c0 .menu-item a.hfe-sub-menu-item {
    padding-top: 1px;
    padding-bottom: 1px
}

body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-ac846c0 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 10px
}

body.rtl .elementor-2705 .elementor-element.elementor-element-ac846c0 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 10px
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 10px
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 ul.hfe-nav-menu .menu-item a.hfe-menu-item {
    color: var(--e-global-color-lighter)
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 ul.hfe-nav-menu .menu-item a.hfe-menu-item:hover {
    color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item:hover a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .main-navigation .mega-menu ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item {
    color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .sub-menu,
.elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-dropdown,
.elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-dropdown-expandible,
.elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .sub-menu a.hfe-sub-menu-item,
.elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-2705 .elementor-element.elementor-element-ac846c0 .sub-menu li.menu-item:not(:last-child),
.elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-2705 .elementor-element.elementor-element-ed18d58 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0px
}

.elementor-2705 .elementor-element.elementor-element-ed18d58>.elementor-widget-container {
    margin: 0 0 18px
}

.elementor-2705 .elementor-element.elementor-element-8561efd .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-8561efd .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-8561efd .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-8561efd .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-8561efd .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-8561efd .menu-item a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-8561efd .menu-item a.hfe-sub-menu-item {
    padding-top: 1px;
    padding-bottom: 1px
}

body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-8561efd .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 10px
}

body.rtl .elementor-2705 .elementor-element.elementor-element-8561efd .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 10px
}

.elementor-2705 .elementor-element.elementor-element-8561efd nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 10px
}

.elementor-2705 .elementor-element.elementor-element-8561efd ul.hfe-nav-menu .menu-item a.hfe-menu-item {
    color: var(--e-global-color-lighter)
}

.elementor-2705 .elementor-element.elementor-element-8561efd ul.hfe-nav-menu .menu-item a.hfe-menu-item:hover {
    color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-8561efd .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item:hover a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-8561efd .main-navigation .mega-menu ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item {
    color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-8561efd .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-8561efd .sub-menu,
.elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-dropdown,
.elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-dropdown-expandible,
.elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-2705 .elementor-element.elementor-element-8561efd .sub-menu a.hfe-sub-menu-item,
.elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-dropdown li a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-2705 .elementor-element.elementor-element-8561efd .sub-menu li.menu-item:not(:last-child),
.elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-2705 .elementor-element.elementor-element-f25d833 {
    margin-top: 40px;
    margin-bottom: 0
}

.elementor-2705 .elementor-element.elementor-element-12de926 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0px
}

.elementor-2705 .elementor-element.elementor-element-12de926>.elementor-widget-container {
    margin: 0 0 18px
}

.elementor-2705 .elementor-element.elementor-element-326631e .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-326631e .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-326631e .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-326631e .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-326631e .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-326631e .menu-item a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-326631e .menu-item a.hfe-sub-menu-item {
    padding-top: 1px;
    padding-bottom: 1px
}

body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-326631e .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 10px
}

body.rtl .elementor-2705 .elementor-element.elementor-element-326631e .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 10px
}

.elementor-2705 .elementor-element.elementor-element-326631e nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 10px
}

.elementor-2705 .elementor-element.elementor-element-326631e ul.hfe-nav-menu .menu-item a.hfe-menu-item {
    color: var(--e-global-color-lighter)
}

.elementor-2705 .elementor-element.elementor-element-326631e ul.hfe-nav-menu .menu-item a.hfe-menu-item:hover {
    color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-326631e .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item:hover a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-326631e .main-navigation .mega-menu ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item {
    color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-326631e .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-326631e .sub-menu,
.elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-dropdown,
.elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-dropdown-expandible,
.elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-2705 .elementor-element.elementor-element-326631e .sub-menu a.hfe-sub-menu-item,
.elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-dropdown li a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-2705 .elementor-element.elementor-element-326631e .sub-menu li.menu-item:not(:last-child),
.elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-2705 .elementor-element.elementor-element-897a185 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0px
}

.elementor-2705 .elementor-element.elementor-element-897a185>.elementor-widget-container {
    margin: 0 0 18px
}

.elementor-2705 .elementor-element.elementor-element-6984fee .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-6984fee .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-6984fee .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-6984fee .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-6984fee .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-2705 .elementor-element.elementor-element-6984fee .menu-item a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-6984fee .menu-item a.hfe-sub-menu-item {
    padding-top: 1px;
    padding-bottom: 1px
}

body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-6984fee .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 10px
}

body.rtl .elementor-2705 .elementor-element.elementor-element-6984fee .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 10px
}

.elementor-2705 .elementor-element.elementor-element-6984fee nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 10px
}

.elementor-2705 .elementor-element.elementor-element-6984fee ul.hfe-nav-menu .menu-item a.hfe-menu-item {
    color: var(--e-global-color-lighter)
}

.elementor-2705 .elementor-element.elementor-element-6984fee ul.hfe-nav-menu .menu-item a.hfe-menu-item:hover {
    color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-6984fee .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item:hover a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-6984fee .main-navigation .mega-menu ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item {
    color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-6984fee .hfe-nav-menu.vertical ul.hfe-nav-menu li.menu-item.current-menu-item a.hfe-menu-item:before {
    background-color: var(--e-global-color-secondary)
}

.elementor-2705 .elementor-element.elementor-element-6984fee .sub-menu,
.elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-dropdown,
.elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-dropdown-expandible,
.elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-2705 .elementor-element.elementor-element-6984fee .sub-menu a.hfe-sub-menu-item,
.elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-dropdown li a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-2705 .elementor-element.elementor-element-6984fee .sub-menu li.menu-item:not(:last-child),
.elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-2705 .elementor-element.elementor-element-7c1b6f3>.elementor-element-populated {
    padding: 0
}

.elementor-2705 .elementor-element.elementor-element-853b578 .elementor-cta__content {
    min-height: 498px;
    padding: 25px 10px 30px 30px;
    justify-content: flex-start
}

.elementor-2705 .elementor-element.elementor-element-853b578 .skeleton-item {
    min-height: 498px
}

.elementor-2705 .elementor-element.elementor-element-853b578 .skeleton-item:before {
    padding-top: 498px
}

.elementor-2705 .elementor-element.elementor-element-853b578 .elementor-cta__title {
    font-size: 24px;
    font-weight: 800
}

.elementor-2705 .elementor-element.elementor-element-853b578 .elementor-content-item.elementor-cta__title {
    margin-bottom: -6px
}

.elementor-2705 .elementor-element.elementor-element-853b578 .elementor-cta__heading2 {
    font-family: "Sarina", Sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: -1px
}

.elementor-2705 .elementor-element.elementor-element-853b578 .elementor-content-item.elementor-cta__heading2 {
    margin-bottom: 4px
}

.elementor-2705 .elementor-element.elementor-element-853b578 .elementor-cta__subtitle {
    font-size: 14px;
    font-weight: 400;
    text-transform: none
}

.elementor-2705 .elementor-element.elementor-element-853b578 .elementor-content-item.elementor-cta__subtitle {
    margin-bottom: 1px
}

.elementor-2705 .elementor-element.elementor-element-853b578 .elementor-cta__description {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -1px;
    color: var(--e-global-color-primary)
}

.elementor-2705 .elementor-element.elementor-element-853b578 .elementor-cta .elementor-cta__bg,
.elementor-2705 .elementor-element.elementor-element-853b578 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: .3s
}

@media(min-width:768px) {
    .elementor-2705 .elementor-element.elementor-element-6e15c51 {
        width: 25.58%
    }
    .elementor-2705 .elementor-element.elementor-element-7b59dbc {
        width: 45.015%
    }
    .elementor-2705 .elementor-element.elementor-element-bd24e8c {
        width: 58.088%
    }
    .elementor-2705 .elementor-element.elementor-element-83e7a87 {
        width: 41.829%
    }
    .elementor-2705 .elementor-element.elementor-element-d64e5f4 {
        width: 58.088%
    }
    .elementor-2705 .elementor-element.elementor-element-9459c36 {
        width: 41.829%
    }
    .elementor-2705 .elementor-element.elementor-element-7c1b6f3 {
        width: 29.069%
    }
}

@media(max-width:1024px) {
    body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-92dd39e.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-ac846c0.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-8561efd.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-326631e.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-6984fee.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
}

@media(max-width:767px) {
    body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-92dd39e.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-2705 .elementor-element.elementor-element-92dd39e nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-ac846c0.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-2705 .elementor-element.elementor-element-ac846c0 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-8561efd.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-2705 .elementor-element.elementor-element-8561efd nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-326631e.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-2705 .elementor-element.elementor-element-326631e nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
    body:not(.rtl) .elementor-2705 .elementor-element.elementor-element-6984fee.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }
    body .elementor-2705 .elementor-element.elementor-element-6984fee nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
}